
<h1>Tests</h1>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="chart" data-percent="80" data-scale-color="#ffb400">
				<div class="text">80%</div>
			</div>
			<div class="chart-label">Bar Towels</div>
		</div>	
		<div class="col-md-3">
			<div class="chart" data-percent="50" data-scale-color="#ffb400" barColor="white">
				<div class="text">50%</div>
			</div>
			<div class="chart-label">Napkins</div>
		</div>
		<div class="col-md-3">
			<div class="chart" data-percent="100" data-scale-color="#ffb400">
				<div class="text">100%</div>
			</div>
			<div class="chart-label">Floor Mats</div>
		</div>
		<div class="col-md-3">
			<div class="chart" data-percent="75" data-scale-color="#ffb400">
				<div class="text">75%</div>
			</div>
			<div class="chart-label">Soap</div>
		</div>
	</div>
</div>		


